
{% extends "base.html" %}

{% block content %}	
<style>

.bouton_gauche{
    padding-right: 2px; 
    padding-left: 10px;
}
.bouton_droit{
    padding-right: 10px; 
    padding-left: 2px;
}
.interieur_gauche{
text-align: left; 
padding-right: 5px; 
padding-left: 10px;
}
.interieur_droit{
text-align: right; 
padding-right: 10px; 
padding-left: 5px;
}
</style>
	{% regroup liste_match by id_eq1.id_groupe as liste_m %}

		<form action="{% url "pari" phase=phase_actuelle %}" method="post">
		{% csrf_token %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Bienvenue  {{ user.joueur.prenom }}   </h3>
            </div>

		{% if envoi %}
          <div class="panel panel-default">
            <div class="alert alert-success" role="alert"> Vos scores ont bien été enregistrés </div>
            </div>
        {% endif %}

		<ul class="nav nav-tabs">
		{% for phase in liste_phase %}
		  <li role = "presentation"{% if phase.nom_phase == phase_actuelle %} class = "active" {% endif %}> 
			  <a href="{% url "pari" phase=phase.nom_phase %}">{{phase.nom_phase}}</a>
		  </li>	
		{% endfor %}
		</ul>
            <div class="panel-body">
				{% for id_groupe in liste_m %}
					<div class="col-sm-3">
					<div class="row">
						<div class="col-lg-offset-3 col-sm-6">			
							  <table class="table table-striped table-condensed">
							   <thead>
								  <tr>
									<th>Groupe {{ id_groupe.grouper }}</th>
								  </tr>
								</thead>
								<tbody>
									{% for equipe in liste_eq_grp %}									
										  {% if equipe.id_groupe == id_groupe.grouper %}
										  <tr>
											<td>{{ equipe.nom_equipe }}</td>
										  </tr>
											{% endif %}
									{% endfor %}
								</tbody>
							  </table>
						</div>
					</div>
					<div class="panel panel-default">
					  	<div class="panel-heading">
							<h3 class="panel-title">Mes paris</h3>
						</div>

						<div class="panel-body">
						{% for match in id_groupe.list %}
								<div class="row">
									<div class="col-xs-3 interieur_gauche">	{{ match.id_eq1}}</div>
									<div class="form-group col-xs-3 bouton_gauche">	
										<input class="form-control" type="number" name="f{{match.id_match}}_eq1" value="{{match.pari1}}" min="0" max="10" id="f{{match.id_match}}_eq1" />
									</div>
									<div class="form-group col-xs-3 bouton_droit">
										<input class="form-control" type="number" name="f{{match.id_match}}_eq2" value="{{match.pari2}}" min="0" max="10" id="f{{match.id_match}}_eq2" />
									</div>
									<div class="col-xs-3 interieur_droit">	{{ match.id_eq2}}</div>
								</div>
						{% endfor %}						
						</div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">

						<h3 class="panel-title">Résultats</h3>
						</div>

						<div class="panel-body">
							{% for match in id_groupe.list %}
								<div class="row", style="height:45px;">
									<div class="col-xs-3 interieur_gauche">
									{{ match.id_eq1}} </div>
									<div class="col-lg-offset-1 col-sm-2" style = "align-items:center">
										{% if match.score_eq1 == None %}
											
										{% else %}
											{{ match.score_eq1}}
										{% endif %} 
									</div>
									<div class="col-lg-offset-1 col-sm-2" style = "align-items:center"> 										
										{% if match.score_eq1 == None %}	
										{% else %}
											{{ match.score_eq1}}
										{% endif %}  </div>
									<div class="col-xs-3 interieur_droit">	{{ match.id_eq2}}	</div>
								</div>
							{% endfor %}	
						</div>
					</div>
				</div>
				{% endfor %}

				
            </div>

          </div>
		 <button type="submit" class="btn btn-primary">Submit</button>
		</form>
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	
<script>

	$(":input").bind('keyup mouseup', function () {
			var valeur = $(this).val();
	
			if (valeur == '') {           
			$(this).parent().addClass("has-error");}
			else { $(this).parent().removeClass("has-error");}
	});
	
	

</script>
  </body>


</html>
